*{
    margin: 0;
    padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* common shared css */
.primary-btn {
    font-size: 20px;
    font-weight: 700;
    background-color: #fd6e0a;
    border: 0;
    border-radius: 5px;
    padding: 18px 35px;
    cursor: pointer;
    color: #ffffff;
}
.secondary-btn {
  font-size: 20px;
  font-weight: 700;
  background-color: #ffffff;
  border:1px solid #fd6e0a;
  border-radius: 5px;
  padding: 18px 35px;
  cursor: pointer;
  color: #fd6e0a;
}
h2{
  margin-bottom: 40px;
  text-align: center;
  color: #181818;
  font-size: 28px;
  font-weight: 700;
}
/* Nav Related Styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px 50px 130px;
}
nav ul li {
  display: inline-block;
  margin-right: 50px;
}
nav li > a {
  text-decoration: none;
  color: black;
}
.nav-title {
  font-size: 45px;
  font-weight: 800;
}
.nav-title span {
  color: #fd6e0a;
}
.header{
  background: url(../Assets/developer.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 6%;
  margin-left: 50px;  
}
.head-section{
  background-color: #fef0e8;
}

/* intro related styles */
.intro-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 80px;
  background: url(../Assets/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 53%;
}
.intro-container img{
  width: 35%;
  height: auto;
}
.intro-content{
  width: 45%;
}
.intro-greetings{
  color: #3e3e3e;
  font-size: 45px;
  font-weight: 600;

}
.intro-title{
  font-size: 58px;
  font-weight: 700;
  margin-top: 16px;
}
.intro-description{
  color: #656565;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 18px 0px;
}
.intro-content button{
  margin-right: 20px;
}

/* About Me related styles */
.about-me{
  margin: 100px 150px;
  background-color: #fef0e8;
  padding: 100px 150px;
  border-radius: 10px;

}

.about-decription{
  color: #656565;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  padding: 0px 12px 10px 12px;
}
.about-details{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.about-details .title{
  color: #656565;
  text-align: center;
  line-height: 28px;
}
.about-details .title-value{
  color:#3e3e3e;
  text-align: center;
}
.what-i-do{
  padding: 0 150px;
}
.what-i-do-info{
  text-align: center;
  padding: 0 120px;
}

.what-i-do-info p{
  color: #656565;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  
}
/* My work cards style */

.my-work-card-Cotainer{
  display: flex;
  column-gap: 24px;
  margin: 40px 0px;
}
.my-work-card{
  padding: 30px;
  box-shadow: 0px 8px 24px 0px #dedede;
  border-radius: 10px;
}
.work-title{
  margin-top: 40px;
  margin-bottom: 20px;
}
.description{
  font-size: 14px;
  color: #757575;
  line-height: 30px;
}

/* Resume summary style */
.resume{
  padding: 80px 150px;
}
.resume-container{
  margin-top: 30px;
  padding-top: 35px;
  display: flex;
  column-gap: 28px;
}
.resume-container h2{
  margin-bottom: 20px;
  text-align: start;
  color: #474747;
  font-size: 26px;
  font-weight: 700;
}
.devider{
  margin: 14px 0px;
  color: #D1D1D1;
}
.r-title{
  color: #474747;
  font-size: 22px;
  font-weight: 700;
}
.institute-name{
  color: #757575;
  margin: 15px 0px;
  font-size: 18px;
  font-weight: 600;
}
.degree{
  width: 80%;
  padding: 10px 0px;
}
.btn{
  padding: 25px 0px;
  text-align: center;
}

/* Footer related style  */
footer{
  background-color: #FFF8F3;
  height: 70vh;
}
.footer-container{
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
  column-gap: 70px;
}
.footer-container h2{
  margin-bottom: 20px;
  text-align: left;
  color: #181818;
  font-size: 28px;
  font-weight: 700;
}
.footer-outro{
  width: 50%;
}
.footer-outro a{
  text-decoration: none;
  padding-right: 14px;
  color: #fd6e0a;
}
.get-in-touch input, textarea{
  width: 100%;
  padding: 12px;
  margin: 8px 0px;
  border: none;
}
.get-in-touch input:focus, textarea:focus {
  outline:2px solid #fd6e0a;
}
.get-in-touch{
  width: 50%;
}
