*{
    margin: 0;
    padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* common shared css */
.primary-btn {
    font-size: 20px;
    font-weight: 700;
    background-color: #fd6e0a;
    border: 0;
    border-radius: 5px;
    padding: 18px 35px;
    cursor: pointer;
    color: #ffffff;
}
.secondary-btn {
  font-size: 20px;
  font-weight: 700;
  background-color: #ffffff;
  border:1px solid #fd6e0a;
  border-radius: 5px;
  padding: 18px 35px;
  cursor: pointer;
  color: #fd6e0a;
}

/* Nav Related Styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px 50px 130px;
}
nav ul li {
  display: inline-block;
  margin-right: 50px;
}
nav li > a {
  text-decoration: none;
  color: black;
}
.nav-title {
  font-size: 45px;
  font-weight: 800;
}
.nav-title span {
  color: #fd6e0a;
}
.header{
  background: url(../Assets/developer.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 6%;
  margin-left: 50px;  
}
.head-section{
  background-color: #fff8f4;
}

/* intro related styles */
.intro-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 80px;
  background: url(../Assets/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 53%;
}
.intro-container img{
  width: 35%;
  height: auto;
}
.intro-content{
  width: 45%;
}
.intro-greetings{
  color: #3e3e3e;
  font-size: 45px;
  font-weight: 600;

}
.intro-title{
  font-size: 58px;
  font-weight: 700;
  margin-top: 16px;
}
.intro-description{
  color: #656565;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 18px 0px;
}
.intro-content button{
  margin-right: 20px;
}

/* About Me related styles */
.about-me{
  margin: 150px;
  background-color: #fff8f4;
  padding: 150px;

}